.q{
    background-color: blue;
    height: 300px;
    width: 300px;
}
.s{
    position: relative;
    
    background-color: black;
    height: 500px;
    width: 200px;
}

.z{
    background-color: aqua;
    height: 300px;
    width: 300px;
}