ul {
    list-style-type: none;
}

:root {
    
  }  

html, body{
    font-size: 62.5%;
}

body{
    font-size: 1.2rem;
    background-color: white;
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-500 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* roboto-700 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body{
    font-family: Roboto;
   
    
}

html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

html,body{
    font-size: 62.5%;
}

:root{
    --main-color:#1A4D70;
    --two-main-color:#FFFFFF;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.header{
    margin: 0 auto;
    width: 100%;
    background: url(/img/headerrr.svg) no-repeat center;
    background-size: cover;
    height: 150px;  
   
    
}

@media (max-width: 390px) { 
    .header{
        margin: 0 auto;
        width: 100%;
        background: url(/img/headerrr.svg) no-repeat center;
        background-position: -1400px top;
        height: 150px;  
       
    } 

}
main{
    width: 100%;
}

.header__wrapper{
    margin: 0 auto;
    z-index: 99;
    height: 150px;
}

.header-wrapper__block{
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 342px;
    margin: 0 auto;
    margin-top: 20px;

}

.header-wrapper__button{
    background-image: url(/img/Menu.svg);
    border: none;
    width: 32px;
    height: 32px;
    background-color: white;
}


.section-1{
    background: url(/img/mai__img.jpg)no-repeat center;
    background-size: cover;
    height: 730px; 
}

.main__title{
    font-family: Roboto;
    color: var(--two-main-color);
    padding-top: 170px;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 4px;
    max-width: 342px;
    
}






@media (min-width: 768px) {
    
}

.section_1{
    background-color: #ECEEF8;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 93.75px 93.75px 125px 125px 62.5px;
    justify-content: center;
}
.section_1 div{
    border: 2px solid black;
}
.block_1{
    background-color: red;
    grid-column: span 2;
}


.block_5, .block_6{
    grid-column: span 2;
}
.block_7{
    grid-row: span 2;
}

.block_8{
    grid-column: span 2;
}
.block_9{
    grid-row: span 2;
    grid-column: span 2;
    background-color: blue;
}

.block_10{
    grid-column: span 2;
    background-color: black;
}

.block_11{
    grid-row: span 2;
    background-color: yellow;
}

.block_12{
    grid-row: span 2;
    background-color: yellow;
}
.block_13{
    grid-row: span 2;
}

.block_14{
    grid-row: span 2;
    grid-column: span 2;
    background-color: red;
}


.section_2{
    display: grid;
    grid-template:'aside main' auto / 200px 1fr;
}





aside{
    
    grid-area: aside;
    background-color: orange;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
   
}

.section_2_right{
    grid-area: main;
    display: grid;  
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    padding: 20px;
}

.section_2_row-1{
    grid-column: span 6;
   ;
    width: 100%;
    object-fit: cover;
}

.section_2_row-2{
    grid-column: span 2;
}

.section_2_row-3{
    grid-column: span 3;
}


.section_3 ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
}

.section_3 ul li{
    text-align: center;
    margin-bottom: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.section_3 ul li img{
    grid-row: 1/1;
    grid-column: 1/1;
}

.section_3 ul li a{
    background-color: whitesmoke;
    grid-row: 1/1;
    grid-column: 1/1;
}

.section_3 a {
    color: wheat;
    background-color: blue;
    text-decoration: none;
    color: var(--main-text);
    font-size: 5rem;
    padding: 12px;
    background-color: blue;
    border-radius: 10px;
    z-index: 10;
}

.section_3__image-2 {
    width: 287px;
    height: 200px;
}

.footer{
    margin: 0 auto;
    max-width: 342px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 40px;
}

.footer-line{
    width: 342px;
    height: 1px;
    background-color: #777;
    margin-top: 52px;
}

.footer_txt{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer{
    background-color: #1A4D70;
}

