/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-500 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* roboto-700 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body{
    font-family: Roboto;
   
    
}


html, body{
    font-size: 62.5%;
}

html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

html,body{
    font-size: 62.5%;
}

:root{
    --main-color:#1A4D70;
    --two-main-color:#FFFFFF;
}

.wrapper{
    max-width: 342px;
    margin: 0 auto;
}
.header{
    
    position: absolute;
    margin: 0 auto;
    width: 100%;
    background: url(/img/headerrr.svg) no-repeat center;
    background-size: cover;
    height: 150px;  
    display: flex;
    justify-content: space-between;
   
    
}

@media (max-width: 390px) { 
    .header{
        position: absolute;
        margin: 0 auto;
        width: 100%;
        background: url(/img/headerrr.svg) no-repeat center;
        background-position: -1400px top;
        height: 150px;  
       
    } 

}
main{
    width: 100%;
}

.header__wrapper{
    margin: 0 auto;
    width: 342px;
    z-index: 99;
    height: 150px;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 342px;
    margin: 0 auto;
    margin-top: 20px;


}

.header-wrapper__block{
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 342px;
    margin: 0 auto;
    margin-top: 20px;

}

.header-wrapper__button{
    background-image: url(/img/Menu.svg);
    border: none;
    width: 32px;
    height: 32px;
    background-color: white;
}

.header-wrapper__img{
     width: 172px;
    height: 46px;
    flex-shrink: 0;
}


.section-1{
    background: url(/img/mai__img.jpg)no-repeat center;
    background-size: cover;
    min-height: 700px;
    max-height: 1100px;
}

.main__title{
    font-family: Roboto;
    color: var(--two-main-color);
    padding-top: 170px;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 4px;
    width: 100%;
    
}
a{
    text-decoration: none;
}

.gg{
    position: relative;
    top: 4px;
}

.main__txt{
    font-family: Roboto;
    color: var(--two-main-color);
    font-size: 1rem;
    color: var(--White, #FFF);
    font-weight: 500;
    margin-bottom: 42px;
}

.main__img{
    margin-bottom: 32px;
    width: 100vw;
    max-width: 540px;
}

.main__button{
    font-family: Roboto;
    border: none;
    color: var(--two-main-color);
    display: block;
    padding: 12px 40px;
    margin: 0 auto;
    border-radius: 4px;
    background: var(--Orange, #F9572B);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 52px;

}

.section-2{
    height: 200px;
}

.gg{
    width: 100%;
}
 

.main-list_item{
    display: flex;
    gap: 36px;
    max-width: 300px;
    
}

.main_block{
}

.main__list{
    display: flex;
    flex-direction: column;
    gap: 29px;
    color: var(--main-color);
    flex-wrap: wrap;
    
}


.mai-item__txt{
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.main-item__title{
    color: var(--main-color);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

html,body{
    font-size: 62.5%;
}























.company{
    background-color: #EFEFEF;
}

.company__title{
    font-family: Roboto;
    color: var(--main-color);
    text-align: center;
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 32px;
}
.line{
    background-color: #F9572B;
    width: 100px;
    height: 3px;
    margin: auto;
    margin-bottom: 32px;
}

.company-first__txt{
    color: var(--main-color);
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;
    max-width: 600px;
}

.company-two__txt{
    color: var(--main-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 32px;
    max-width: 600px;
}


.advantages__item:hover{
	transition: 0.75s;
	transform: scale(0.97, 0.97);
	cursor: pointer;
}

.customers__item:hover{
    transition: 0.75s;
	transform: scale(1.2, 1.2);
	cursor: pointer;

}




.company__list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}



.compeny-item__txt{
    color: var(--main-color);
    width: 200px;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 40px;

}

.company-img__block{
    padding-bottom: 40px;
    background-color: #EFEFEF;

}

.company__img{
    width: 100vw;
    max-width: 633px;
}
.equipment__title{
    color: var(--main-color);
    text-align: center;
    font-family: Roboto;
    font-size: 2.3rem;
    font-weight: 700;
    margin-top: 48px;
    margin-bottom: 32px;
}

.equipment__list{
    width: 390px;
    height: 51px;
    background-color:#EFEFEF;
    margin-bottom: 32px;
    overflow: hidden;
    width: 100%;
}

.equipment-info_button{
    width: 138px;
    height: 51px;
    margin-right: 0;
    padding-right: 0;
    border: none;
    background: none;
    vertical-align: middle;
    color: var(--two-main-color);
    font-size: 16px;
    font-weight: 900;   
}
.equipment-info_button:first-child{
    margin-left: 24px;
}
.equipment-info_button:active{
    background-color: #F9572B;
}

.name-equipment{
    color: var(--main-color);
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;

}

.equipment-info_txt-first{
    color: var(--main-color);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    width: 335px;
}

.equipment-info_txt{
    color: var(--main-color);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
    width: 335px;

}

.equipment__img{
    margin-bottom: 88px;
}

.advantages{
    background: url(/img/достижения\ фон.jpg) no-repeat center;
    background-size: cover;
    height: 583px;
    
}

.advantages__title{
    color: var(--two-main-color);
    text-align: center;
    font-family: Roboto;
    font-size: 2.3rem;
    font-weight: 700;
    padding-top: 40px;
    margin-bottom: 32px;
}

.advantages__item{
    position: relative;
    border-radius: 5px;
    height: 380px;
    width: 100vw;
    background-color:var(--two-main-color);
    padding-left: 23px;
}

.advantages__list{
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    display: flex
}
.advantages-item__img{
    margin-top: 32px;
    margin-bottom: 40px;
    margin-left: 32px;
}

.advantages-item__title{
    color: var(--main-color);
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 32px;
    width: 230px;
    margin-bottom: 11px;
}

.advantages-item__line{
    width: 100px;
    height: 3px;
    background-color: #F9572B;
    margin-bottom: 32px;
    margin-left: 32px ;
}

.advantages-item__txt{
    color: var(--main-color);
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;

    width: 100vw;
    max-width: 270px;
    margin-left: 32px;
    padding-bottom: 300px;
}



.blue{
    background-color:var(--main-color);
    height: 615px;
}

.gray_back{
    background: url(/img/gray.svg) no-repeat center;
    background-size: cover;
    height: 275px;
}

.customers__title{
    font-family: Roboto ;
    text-align: center;
    color: var(--main-color);
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 32px;
}

.customers__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 56px;
    padding-bottom: 80px;
}

.consultation{
    background: url(/img/form__image.jpg)no-repeat center;
    background-size: cover;
}

.consultation__title{
    color: var(--two-main-color);
    text-align: center;
    font-family: Roboto;
    font-size: 2.3rem;
    font-weight: 700;
    padding-top: 30px;
    margin-bottom: 32px;
}


.form_input{
    display: flex;
    width: 342px;
    height: 43px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: none;

}

.consultation__form{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    font-family: Roboto ;
}

span{
    margin-bottom: 2px;
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: 400;
}


.registr_iteam{
    color:#FFFFFF;
    text-decoration: none;
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: 400;
}

.registr_button{
    display: block;
    padding: 12px 40px;
    margin: 0 auto;
    background-color: #F9572B;
    color: var(--two-main-color);
    border: none;

}
.consultation__grafic{
    position: relative;
    background: url(/img/form\ grafic.svg) no-repeat center;
    background-size: cover;
    height: 152px;

}


.objects__title{
    color: var(--main-color);
    margin: 0 auto;
    text-align: center;
    font-family: Roboto;
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 32px;
    width: 200px;

}


.objects__img{
    width: 342px;
}


.objects__block{
    position: relative;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 10px;
    color: var(--Blue, #1A4D70);
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    width: 320px;
    margin: 0 auto;
    left: 10px;
    margin-bottom: 40px;
}

.objects_list-first{
    list-style-type: disc;
}

.objects_list_two{
    list-style-type: disc;
}

.image-part{
    background: url(/img/bg_контакты.jpg) no-repeat center;
    background-size: cover;
    height: 464px;
}

.contacts_txt-title{
    color: var(--two-main-color);
    text-align: center;
    font-family: Roboto;
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 32px;
    padding-top: 40px;
}

.orange{
    width: 100vw;
    max-width: 342px;
    height: 317px;
    background-color: #F9572B;
}

.orange-wrapper{
    max-width: 278px;
    margin: 0 auto;
}

.contacts_pic{
    margin-top: 32px;
    margin-bottom: 12px;
}


.contacts_txt{
    color: var(--two-main-color);
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 4px;
}
.contacts_link{
    display: block;
    text-decoration: none;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    color: var(--two-main-color);
}

.contacts_iteam_txt{
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    color: var(--two-main-color);
    max-width: 225px;
}

.blue-p{
    background-color: var(--main-color);


}
.gray{

    background-color: #777;
    height: 100px;


}
.gray-wrapper{
    max-width: 278px;
    margin: 0 auto;
}

.processing-information_txt{
    padding-top: 32px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.progcessin_txt{
    display: block;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 70px;
}


.filling-application{
    margin-top: 121px;
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto ;
}

.filling-application_txt{
    display: block;
    text-decoration: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 24px;

}

.form_input-fill{
    margin-bottom: 24px;
    
    height: 43px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: none;
    width: 100vw;
    max-width: 342px;
}

.form_input-fil{
    height: 43px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: none;
    width: 100vw;
    max-width: 342px;

}



span{
    font-family: Roboto;
}

.form_tekstarea{
    display: flex;
    width: 100vw;
    max-width: 342px;
    height: 180px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;

}
.koment1{
    color: #FFF;
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: 400;
}



.filling-application_buttom{
    display: inline-flex;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    background-color: #F9572B;
    color: var(--two-main-color);
    border: none;
    border-radius: 4px;
    margin-top: 32px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 40px;
}

.footer-line{
    max-width: 342px;
    width: 100vw;
    height: 1px;
    background-color: #777;
    margin-top: 52px;
}

.footer_txt{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p::selection{
    background-color: #F9572B;

}
h1::selection{
    background-color: #F9572B;
    
}
h2::selection{
    background-color: #F9572B;
    
}
h3::selection{
    background-color: #F9572B;
    
}
a::selection{
    background-color: #F9572B;
    
}

a:hover{
    transition: 0.97s;
	transform: scale(0.97, 0.97);

}

.skip-link{
    transform: translateY(-100%);
}

button:hover{
    transition: 0.97s;
	transform: scale(1.2, 1.2);
}

a:active{
    color: blue;
}

a:focus{
    color: #777;
}

button:active{
    background-color: green;
}

button:focus{
    color: #1A4D70;
}

.objects__img{
    width: 100%;
    width: 100vw;
    max-width: 1182px;
}
.img_c{
    display: flex;
    justify-content: center;
}

.n{
    color: var(--two-main-color);
}

@media(min-width: 1172px){
    .footer-line{
        display: none;
    }

    .progcessin_txt{
        display: none;
    }
    .title-filling-application{
        color: var(--main-color);
    }
    .koment1{
        color: var(--main-color);
    }

    .filling-application_txt{
        color: var(--main-color);
    }
  

    

    .filling-application_buttom{
        position: relative;
        top: 190px;
        right: 338px;
    
        width: 120px;
        height: 30px;
        padding: 12px 40px;

    }

   

    .whitee{
        position: relative;
        z-index: 98;
        background-color: #EFEFEF;
        width: 100vw;
        max-width:  1000px;
        height: 600px;
    
    }

    .na{
        margin-right: 10px;
    
    }

    .blue-p{
        
    }

    .title-filling-application{
        display: block;
    }

    



   
    
    .filling-application{
        max-width: 200px;
        position: relative;
        bottom: 575px;
        left: 400px;
    }
    .wrapper{
        max-width: 1264px;
    }
    .main__title{
        text-align: left;
        width: 515px;
        position: relative;
        top: 180px;
        font-size: 48px;
        color: var(--White, #FFF);

        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    

    }
    .main__button{
        position: relative;
        
    }
    .main__txt{
        position: relative;
        top: 180px;
        color: var(--White, #FFF);
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }
    .main__button{
        position: relative;
        right: 540px;
        bottom: 250px;
    }



    .img_c{
        justify-content: right;

    }
    .main__list{
        flex-direction: row;
        margin-left: 290px;
    }
    .company__title{
        text-align: left;
    }
    .line{
        margin: 0;
        margin-bottom: 32px;
    }
    .company__list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 80px
        ;
        position: relative;
        bottom: 120px;
    }

    .flexx{
     
       
        
        display: flex;
        
    
        flex-wrap:wrap;
    }

    .company-img__block{
        position: relative;
        bottom: 300px;
    }

    .company{
        min-height:600px;
    }
    .equipment__title{
        text-align: left;
    }

    .equipment__list{
        display: flex;
        justify-content: center;
    }
    .company__img{
        display: block;

        width: 100vw;
        max-width: 500px;
    }
    .company-img__block{
        width: 100vw;
        max-width: 500px;
        overflow: hidden;
        display: flex;
    }
    .ad{
        display: flex;
        justify-content: space-between;
    }
  
    .equipment-info_txt-first{
        width: 508px;
    }

    .equipment-info_txt{
        width: 508px;
    }
    .block__ad{
        padding-top: 20px;
    }
   


}

.company__title{
    padding-top: 32px;
}


@media(min-width: 800px){

   
    .advantages__item{
        width: 384px;
        height: 445px;
    }
    .advantages__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .blue{
        display: none;
    }

    .advantages{
        height: 500px;
    }

    .equipment__title{
        text-align: center;
    }  
    .line{
        margin: 0 auto;
        margin-bottom: 32px;
    } 
    .customers__list{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }
    .objects__block{
        display: none;
    }
    .consultation__form{
        margin: 0 auto;
        justify-content: center;
        max-width: 400px;
    }

    .form_input{
        width: 100vw;
        max-width: 470px;
    }
    .gray{
        width: 375px;
        height: 142px;

    }
    .orange{
        max-width: 375px;
        height: 381px;
    }
    .header-wrapper__button{
        display: none;
    }

    .header__block{
        display: flex;
        margin: 0 auto;
        justify-content: baseline;
        align-items: baseline;
        align-content: center;
    }
    .header_nav{
        flex-wrap: wrap;
        position: relative;
        bottom: 13px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 60px;
        align-content: center;
        align-items: center;
        
    }
    .header-nav_item{
        color: var(--Blue, #1A4D70);

        /* Roboto Medium 16 */
        font-family: Roboto;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
       
    }

    .header-nav_item_nomber{
        color: var(--Orange, #F9572B);

        /* Roboto Black 16 */
        font-family: Roboto;
        font-size: 1rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

  

    .gray{
        position: relative;
        z-index: 99;
    }

    .filling-application{
        position: relative;
        z-index: 99;
        max-width: 583px;
        max-height: 550px;
    }

    .form_input-fill{
        max-width: 280px;
    }
    .form_input-fil{
        width: 100vw;
        max-width: 590px;
    }

    


}

@media(max-width: 391px){
    .header_nav{
        display: none;
    }
    .footer-line{
        display: none;
    }
}

@media( min-width: 391px){
    .header-wrapper__button{
        display: none;
    }
}

@media( max-width: 1253px){

    .company__list{
        margin-top: 200px;
    }
    .company-img__block{
        margin-top: 250px;
    }
    .company{
        height: 1100px;
    }

    
}

@media( max-width: 1160px){
    .company{
        height: 1650px;
    }
    .company__list{
        margin-top: 0;
    }
    .company-img__block{
        margin-top: 0;
    }
    .blue{
        display: block;
    }
    .advantages__item{
        width: 350px;
        height: 380px;
    }
}
















