/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}

html,body{
    font-size: 62.5%;
}

body{
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0em;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
    font-style: normal;
    
}

.wrapper{
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
}

:root{
    --main-color:#1A4D70;
    --two-main-color:#FFFFFF;
}

.line{
    width: 100px;
    height: 3px;
    background-color: #F9572B;
    margin-left: 146px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.header_logo{
    position: relative;
    z-index: 88;
}

p{
    margin-right: 24px;
    margin-left:  24px;
}


.header{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%; 
   z-index: 100;
   display: block;
}
.header_wrapper{
    max-width: 342px;
    margin: 0 auto;
    padding-top: 30px;
}
.header_button {
    background: none;
    position: relative;
    display: block;
    padding: 16px;
    margin-left: 320px;
    margin-bottom: 120px;
    bottom: 40px;
    z-index: 50;
    border: 0;
    background-image: url(/img/Menu.svg);
}


  
.button::after {
    margin-top: 2px;
}

.header_wrapper{
    padding-top: 30px;
    position: relative;
}


.header_link{
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 500;
}

.list_link{
    color: var(--Blue, #1A4D70);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-str{ 
    position: relative;
    height: 100vh;
    background: url(/img/Pic\ \(2\).png) no-repeat;
    background-size: cover;
    padding-top: 120px;
    max-width: 390px;
    margin-left:  auto;
    margin-right: auto;
    height: 750px;
}

.white{
    position: absolute;
    top: 0;
    left: -26px;
    z-index: 10;

}

.bluee{
    position: absolute;
    top: 0;
    right: -24px;

}

.main_title{
    color: var(--two-main-color);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 4px;
    max-width: 342px;
    margin-top: 20px;
}
.nasos{
    margin-left: 37px;
    margin-bottom: 36px;
}

.main_txt{
    color: var(--two-main-color);   
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 42px;
    max-width: 342px;
   
    
}
.main_button{
    box-shadow: 0px 4px 4px 0px #00000040;
    color: var(--two-main-color);
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    position: relative;
    padding: 12px 40px 12px 40px ;
    background: #F9572B;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    border: 0  
     
}

.main_list {
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 390px;
}

.main_list_title{
    color: var(--main-color);
    font-weight: 900;
    font-size: 1.8rem;
    font-weight: 900;
    margin: 0;
    padding: 0;
    line-height: normal;
    
}

.list_link{
    color: var(--main-color);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 900;

}

.geographical_iteam{
    margin-bottom: 8px;
    
}


.container__list{
    display: flex;
    margin-left: 30px;
    margin-top: 16px;
}

.geographical_list_two{
    margin-left: 100px;
    
    
}

.main_li {
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.main_iteam1{
    margin-bottom: 29px;
    
}



.main_list_content {
    margin-left: 0;
    margin-right: 79px;
}

.main_image {
    margin-right: 23px;
}

.main_list_txt{
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
    padding:0;
    width: 250px;
   
}


.company{
    background-color:#EFEFEF;
}

.company_title{
    color: var(--main-color);
    font-family: Roboto;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    
}


.company_list_txt{
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 400;
    width: 340px;
    height: 437;
    margin-right: 24px;
    margin-left:  24px;
    margin-bottom: 32px;
    line-height: normal;
}

.wrapper_pic{
    width: 356px;
    height: 242px;
    margin-left: 33px;
}
.company{
    height: 1570px;
}

.geographical_iteam{
    list-style-type: disc;
}

li{
    list-style-type: none;
}

.company_list{
    margin-top: 32px;
}

.company_txt{
    margin-left: 65px;
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 40px;
    width: 200px
       
}


.company_pic{
    margin-left: 65px;
    margin-right: 95px;
    margin-bottom: 12px;
}

.equipment-info{
    height: 945;
}
.equipment-info_title{
    color: var(--main-color);
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin-top: 48px;
    width: 342px;
    
    margin-left: 29px;
}
.grafic{

   position: relative;
   bottom: 40px;
   max-width: 390px;
   z-index: 2;

}
.main{
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
}

.equipment-info_pic{
    margin-left: 24px;
}

.contacts_iteam_txt{
    color: var(--main-color);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}



.equipment-info_txt{
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 400;
    width: 335px;
    margin-bottom: 40px;

}
.knopki_slaida{
    width: 390px;
    height: 51px;
    background-color:#EFEFEF;
}

.equipment-info_button{
    width: 138px;
    height: 51px;
    margin-right: 0;
    padding-right: 0;
    border: none;
    background: none;
    vertical-align: middle;
    color: var(--two-main-color);
    font-size: 1.6rem;
    font-weight: 900;   
}
.equipment-info_button:first-child{
    margin-left: 24px;
}
.equipment-info_button:active{
    background-color: #F9572B;
}
.equipment-info_pic{
    margin-bottom: 88px;
}



.first{
    margin-bottom: 25px;
    
}

.name-equipment{
    color: var(--main-color);
    font-size: 2.4rem;
    font-weight: 700;
    margin-left: 25px;
    margin-top: 48px;
    margin-bottom: 12px;
    line-height: normal;
}
input{
    margin-bottom: 24px;
}

    


.advantages_title{
    color: var(--two-main-color);
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    padding-top: 40px;
    width: 342px;
    padding-left: 32px;
    
}
.advantages-line{
    width: 100px;
    height: 3px;
    background-color: #F9572B;
    margin-top: 11px;
    margin-left: 32px;
    margin-bottom: 25px;

}
.advantages{
    height: 1450px;
}

.advantages_list_title{
    color: var(--main-color);
    margin-left: 32px;
    width: 270px;
    color: var(--Blue, #1A4D70);

    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.advantages_txt-info{
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 32px;
    width: 280px;
}

.advantages_iteam-first{
    position: relative;
    padding-bottom: 100px;
    display: block;
    max-width: 340px;
    height: 420px;
    background-color:var(--two-main-color);
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 3%;
    margin-bottom: 32px;
    z-index: 99;
}


.advantages_pic{
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 40px;
}
.advantages_iteam{
    position: relative;
    z-index: 50;
}

.advantages_list{
    position: relative;
    z-index: 40;
}
.advantages_iteam{
    position: relative;
    padding-bottom: 100px;
    display: block;
    max-width: 340px;
    height: 390px;
    background-color:var(--two-main-color);
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 5%;
    margin-bottom: 32px;
    
}

.advantages{
    position: relative;
    width: 389px;
    
    background: url(/img/backgrayndimg.svg) no-repeat ;
    
}

.blue::before{
    content: '';
    z-index: 20;
    position: absolute;
    background-image: url(/img/Rectangle\ 47.png);
    background-repeat: no-repeat;
    bottom: -310px;
    left: 0;
    width: 390px;
    height: 100%;
  
}

.gray_pic{
    position: relative;
    bottom: 100px;
}




.customers_title{
    color: var(--main-color);
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: -100px;

}

.line-customers{
    width: 100px;
    height: 3px;
    background-color: #F9572B;
    margin-left: 146px;
    margin-bottom: 40px;
  }

.customers_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.customers_iteam{
    margin-bottom: 56px;
}

.customers_list:last-child{
    margin-bottom: 80px;
}


.registr{
    height: 817px;
    background: url(/img/bba_pumps_ba150e_d285_diesel_driven_6-inch_dewatering_pumpset\ 2.png);
}
.registr-line{
    background-color: #F9572B;
    width: 100px;
    height: 3px;
    margin-top: 32px;
    margin-left: 146px;
    margin-bottom: 53px;

    
}

.registr_txt{
    color: var(--two-main-color);
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    padding-top: 40px;


}

.form_input{
    border-radius: 4px;
    background: var(--White, #FFF);
    display: flex;
    width: 342px;
    height: 43px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;


    
}

.registr_form{
    color: var(--two-main-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 16px;
    margin-left: 25px;
}

.title-filling-application{
    color: var(--White, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.registr_iteam {
    color: var(--two-main-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 16px;
    opacity: 0.8;
}

input {
    outline:none;
    text-align: left;
}

.registr_button{
    color: #FFFFFF;
    display: inline-flex;
    border-radius: 5px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 62px;
    background: #F9572B;
    border: 0     
}

.geographical_txt{
    color: var(--main-color);
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin-top: 40px;
    width: 250px;
    margin-left: 70px;

}



.geographical_iteam{
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.contacts_txt{
    color: var(--two-main-color);
    font-size: 2.4rem;
    font-weight: 700;
   

}

.contacts_txt-footer{
    color: var(--two-main-color);
    color: var(--White, #FFF);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
    margin-top: 40px;
    width: 342px;

}
.contacts_list{
    background-color: #F9572B;
    width: 342px;
    height: 317px;
    margin-left: 24px;
    
}

.contacts_link{
    color: var(--two-main-color);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    display: block;
    margin-left: 32px;
   
}
.contacts_pic{
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 12px;
    
}

.contacts_iteam_txt{
    color: var(--two-main-color);
    font-size: 1.6rem;
    font-weight: 500;
    width: 225px; 
    margin-left: 32px;
}

.processing_information{
    background-color:  #777777;
    width: 342px;
    height: 112px;
    margin-left: 24px;
    margin-top: 4px;
}
.processing-information_txt{
    color: var(--two-main-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 16px;
    padding: 32px; 
}

.contacts_txt-title{
    color: var(--two-main-color);
    text-align: center;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -40px;
    padding-top: 40px;
   
}

.contacts_txt{
    margin-top: 40px;
    width: 342px;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0;
    margin-left: 32px;
}



.filling-application{
    color: var(--two-main-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 16px; 
    margin-left: 24px; 
}

.filling-application_txt{
    color: var(--two-main-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 240px;
}

.form_tekstarea{
    display: flex;
    width: 342px;
    height: 180px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.koment1{
    display: block;
    margin-top: 24px;
    font-size: 1.4rem;
}

.footer_txt{
    color: var(--two-main-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 19px;
}

.filling-application_buttom{
    color: var(--two-main-color);
    background-color: #F9572B;
    display: inline-flex;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    border: 0;
    border-radius: 4px;

}


.blue-part{
    background: url(/img/Rectangle\ 46.jpg);
    position: relative;
    padding-top: 70px;
    background-repeat: no-repeat;
}

.image-part{
    background: url(/img/image\ back.svg);
    position: relative;
    top: 70px;
    z-index: 10;
}

.line-footer{
    width: 342px;
    height: 1px;
    background-color: gray;
    margin-top: 40px;
    margin-left: 24px;
    margin-bottom: 20px;
}

.footer{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    justify-items: center; 
    padding-bottom: 40px; 
}

.footer_txt{
    margin-left: -15px;
    color: gray;
    font-size: 16px;
    font-weight: 400;  
}








